<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Solicitar Transporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Viajes Disponibles</ion-card-title>
          </ion-card-header>
          <ion-card-content>
           
            <ion-list>
              <ion-item *ngFor="let viaje of viajes">
                <ion-card class="ion-padding">
                  <h2>{{ viaje.destino }}</h2>
                  <p>Capacidad disponible: {{ viaje.capacidad }} personas</p>
                  <p>Costo: ${{ viaje.costo }} por persona</p>
                  <p>Hora Salida: ${{viaje.horaSalida}}</p>
                  <ion-button [disabled]="reserva" color="primary" fill="outline" expand="block" (click)="reservarAsiento(viaje , viaje.id)">
                    Reservar Asiento
                  </ion-button>
                  <ion-button (click)="eliminarReserva()" [disabled]="EliminarReserva" expand="block" fill="clear" shape="round">
                    Eliminar Reserva
                  </ion-button>
                 
                </ion-card>
              </ion-item>
              
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
